body {
    background-color: rgb(0, 0, 0);
    padding: 0px;
    margin: 0px;
    
    
}

h1{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.antesdehola{
    background-image: url(https://images.unsplash.com/photo-1461511669078-d46bf351cd6e?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGZvbmRvJTIwZGUlMjBwYW50YWxsYSUyMGRlJTIwdHJ1ZW5vfGVufDB8fDB8fHww);
    background-size: cover;
    padding: 100px;
}

.hola {
    background-color: rgba(255, 255, 255, 0.377);
    text-align: center;
    margin: 100px;
    padding: 15px;
    border-radius: 50px;
    justify-content: center;
}

.hola h1{
    text-decoration:underline;
}


.otrotexto{
    background-color: rgba(0, 0, 0, 0.897);
    color: aliceblue;
    border-style:dashed;
    border-radius: 5px;
    border-color: rgba(255, 255, 255, 0.315);
    display: flex;
    justify-content: center;
    gap: 15px;
}

.otrotexto p{
    font-style:italic;
}
.otrotexto li{
    text-transform: uppercase;   
}

#mensaje {
    color: burlywood;
    font-size: 20px;
}

.botones{
   display: flex;
   justify-content: center;
    margin: 20px;
    gap: 10px;
   background-color: rgba(228, 100, 200, 0.192);
   padding: 30px;
}
.texto h2{
    text-align: center;
    color: aliceblue;
    background-color: rgba(255, 127, 255, 0.185);
}

#btnalegria{
    border-radius: 50px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-color: brown;
}

#btnfeliz{
    border-radius: 50px;
    font-size: 15px;
    border-style: dotted;
    border-color: rgb(255, 0, 55);
    background-color: rgb(189, 174, 174);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#btncolor{
    background-color: rgb(41, 87, 173);
    color: aliceblue;
    border-radius: 50px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#btncolor.click{
    background-color: rgb(236, 170, 126);
    color: black;
    border-style:hidden;
}



#btnimg{
    border-radius: 50px;
    
}